@model Business.Entities.Response

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResponseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>

        <dd>
            @if (Model.ResponseDate.ToShortDateString() != "1/1/0001")
            {
                @Html.DisplayFor(model => model.ResponseDate)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
